.flexBox {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
  gap: 1rem;
}

.thumbLayout {
}

.thumb {
  width: 12rem;
  height: 100%;
  border-radius: 1rem;
}
